/*-----  body  -----*/

body {
    font-family: Tahoma, Geneva, sans-serif;
    color: #2a2a2a;
    background-color: transparent;
}
body a {
    color: #2062b3;
}
body a:hover {
    color: #ff6600;
}
.wrapper {
    width: 810px;
    margin: 0 auto;
}
body img {
    border: none;
}
/*for IE 8*/
body h4,
body h2{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Geneva, sans-serif;
}
p, ul, li {
    margin: 0;
    list-style: none;
    padding: 0;
}
p {
    font-size: 12px;
}
td {
    vertical-align: middle;
}
/*---------------------------------------------------- Main Page -----------------------------------------------------*/
/*-----  #header  -----*/

#header,
#section {
    width: 800px;
    margin: 0 5px;
}
.headBar {
    background-color: #fe9230;
    width: 100%;
    height: 12px;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    behavior: url(PIE.htc);
}
#header .headShadow {
    background: url("../img/head_shadow.png") repeat;
    height: 4px;
    width: 100%;
}
.headTitle {
    height: 97px;
    width: 778px;
    margin: 0 11px;
}
.headTitle .headIcon {
    background: url('../img/main_sprite.png') no-repeat -2px -4px;
    width: 85px;
    height: 62px;
    float: left;
    margin: 19px 38px 0 33px;
}
.headTitle .title {
    background: url('../img/main_sprite.png') no-repeat -96px -2px;
    width: 342px;
    height: 63px;
    float: left;
    margin-top: 17px;
}
.headContent {
    border-top: 1px solid #EAE9D8;
    height: 198px;
    margin: 0 11px;
}
.headContent > img {
    float: left;
    margin: 17px 21px 17px 33px;
}
.describe {
    font-size: 0.9em;
    line-height: 1.2em;
    margin: 17px 9px 0 0;
    text-align: justify;
}
.minimizeBar,
.minimizedBar {
    background: none repeat scroll 0 0 #DDDCCD;
    height: 17px;
    cursor: pointer;
    text-align: center;
}
.minimizeBar > a,
.minimizedBar > a {
    font-size: 10px;
    line-height: 17px;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
}
.minimizeBar > a:before,
.minimizeBar > a:after {
    background: url("../img/main_sprite.png") no-repeat scroll -192px -87px transparent;
    display: inline-block;
    height: 8px;
    width: 6px;
    content: " ";
    margin: 0 13px;
}
.minimizedBar > a:before,
.minimizedBar > a:after {
    background: url("../img/main_sprite.png") no-repeat scroll -427px -70px transparent;
    display: inline-block;
    height: 8px;
    width: 6px;
    content: " ";
    margin: 0 13px;
}
.teeth {
    background: url("../img/min_bg.png") repeat scroll 0 0 transparent;
    width: 100%;
    height: 2px;
    position: relative;
    width: 800px;
}

/*-----  .section  -----*/

.navBar {
    height: 54px;
    background: #f3f3eb;
}
.upShadow {
    background: url("../img/up_shadow.png") repeat;
    height: 3px;
}

.links > a,
.links > span {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "open sans", geneva, sans-serif;
    font-size: 16px;
}
.links {
    height: 48px;
}

.links .unit1 {
    float: left;
    line-height: 48px;
    margin-left: 123px;
}
.links .unit1:before {
    background: url("../img/main_sprite.png") no-repeat scroll -2px -69px transparent;
    content: " ";
    display: inline-block;
    height: 28px;
    margin-right: 10px;
    position: relative;
    top: 6px;
    width: 36px;
}
.links .unit2 {
    float: right;
    line-height: 48px;
    margin-right: 122px;
}
.links .unit2:before {
    background: url("../img/main_sprite.png") no-repeat scroll -44px -71px transparent;
    content: " ";
    display: inline-block;
    height: 19px;
    margin-right: 10px;
    position: relative;
    top: 3px;
    width: 35px;
}
.downShadow {
    background: url("../img/down_shadow.png") repeat;
    height: 3px;
}
/*-----  #tabs  -----*/

#tabs {
    background: #f3f3eb;
}
#tabs .nav {
    overflow: hidden;
    margin: 0;
    padding-left: 96px;
    position: relative;
    top: 1px;
}

#tabs .nav li {
    float: left;
    margin: 0;
    list-style-type: none;
}
#tabs .nav li a {
    background: none repeat scroll 0 0 #F9F9F5;
    border-color: #B8B8B8 #B8B8B8 #2062B3;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    -khtml-border-radius: 3px 3px 0 0;
    behavior: url(PIE.htc);
    color: #2A2A2A;
    display: block;
    line-height: 25px;
    margin-top: 21px;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
}
#tabs .nav li a:active {
    color: #2062b3;
}
#tabs .current {
    background: none repeat scroll 0 0 #F3F3EB !important;
    border: 1px solid #2062B3 !important;
    color: #2062B3 !important;
    line-height: 29px !important;
    margin-top: 16px !important;
    top: 2px;
    z-index: 2;
}
#tabs .wrap-list {
    border-top: 1px solid #2062b3;
    z-index: -99999;
}
#tabs .moveLeft {
    left: 1px;
}

#tabs .moveRight {
    right: 1px;
}
.hide {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

/*-----  #search  -----*/

#search {
    padding: 13px;
}
#dateInput5,
#dateInput6 {
    border: 1px solid #9BA6B3;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    behavior: url(PIE.htc);
    position: relative;
    z-index: 1;
    margin-left: 2px;
    width: 90px;
    padding: 3px 5px;
}
.dateLabel5 {
    margin-left: 11px;
}

/*-----  #advanced-search -----*/

#advanced-search {
    padding: 13px;
}
.testType {
    height: 58px;
    padding-left: 108px;
}
.testType div {
    float: left;
    width: 205px;
}
.testType p {
    color: #2062B3;
    font-family: "Open Sans", geneva, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
    margin: 0 0 1px;
}
.testType p label {
    margin-left: 4px;
}
.testType input:checked + label {
    color: #ff8c2a;
}

/*begin of styles for IE 8 */
.testType label.checked {
    color: #ff8c2a;
}
/* end of styles for IE 8 */
.textInput {
    border: 1px solid #9BA6B3;
    margin-left: 10px;
    width: 305px;
    padding: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    behavior: url(PIE.htc);
    z-index: 1;
    position: relative;
}
#dateInput1,
#dateInput2 {
    border: 1px solid #9BA6B3;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    behavior: url(PIE.htc);
    position: relative;
    z-index: 1;
    margin-left: 2px;
    width: 90px;
    padding: 3px 5px;
}
.calendarIcon {
    background: url('../img/main_sprite.png') no-repeat -85px -71px;
    width: 27px;
    height: 23px;
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
    position: relative;
    bottom: 1px;
    cursor: pointer;
    margin-left: 3px;
}
.dateLabel1 {
    margin-left: 11px;
}
.dateLabel2 {
    margin-left: 15px;
}

.caption {
    width: 95px;
    line-height: 44px;
    color: #2062B3;
    font-family: "Open Sans", geneva, sans-serif;
    font-weight: bold;
    display: inline-block;
    text-align: right;
}
.captionFix {
    float: left;
}
.right {
    float: right;
}
.description {
    display: inline-block;
}
.description1 {
    margin: 0 0 10px 108px;
}

.description label,
.description1 label {
    font-size: 12px;
}
.searchBar {
    height: 47px;
    background: #eae9d8;
}
.datePlace {
    height: 52px;
}
.addedSchools {
    margin: 0 0 0 108px;
    padding-top: 10px;
}
.addedSchools > span {
    color: #2062B3;
    font-size: 0.9em;
    margin: 0 4px;
    font-family: "open sans", geneva, sans-serif;
    cursor: pointer;
    line-height: 19px;
}
.addedSchools .remove {
    background: url('../img/main_sprite.png') no-repeat -415px -70px;
    width: 7px;
    height: 8px;
    display: inline-block;
    margin-left: 2px;
}
.addedSchools .remove:hover {
    background: url('../img/main_sprite.png') no-repeat -415px -82px;
    width: 7px;
    height: 8px;
}
.typePlace {
    height: 70px;
}
.typePlace .description div {
    float: left;
}
.typePlace .description p {
    margin: 0;
    line-height: 21px;
}
.typePlace .description {
    margin: 12px 13px;
}
.typeLeftColumn {
    width: 189px;
}
.typePlace .description p input:checked + label,
.accessPlace .description input:checked + label,
.formatPlace .description input:checked + label {
    font-weight: bold;
}
/*begin of styles for IE 8 */
.typePlace .description p label.checked,
.accessPlace .description label.checked,
.formatPlace .description label.checked {
    font-weight: bold;
}
/*end of styles for IE 8 */
.accessPlace .description > input {
    margin-left: 12px;
}
.accessPlace .description > label {
    margin-right: 15px;
}
.accessPlace .description p {
    display: inline-block;
    line-height: 46px;
    margin: 0 0 0 8px;
    width: 60px;
}
.formatPlace .description p {
    display: inline-block;
    line-height: 46px;
    margin: 0 0 0 8px;
}
.captionForm {
    width: 50%;
    height: 38px;
}
.testType, .keywordsPlace, .locationPlace, .datePlace, .schoolPlace, .typePlace, .accessPlace, .formatPlace {
    border-bottom: 1px solid #eae9d8;
}
.testType:hover, .keywordsPlace:hover, .locationPlace:hover, .datePlace:hover, .schoolPlace:hover, .typePlace:hover, .accessPlace:hover, .formatPlace:hover {
    background-color: #ffffff;
}
.largeInput {
    width: 130px;
}
.smallInput {
    width: 85px;
}
#advanced-search .keywordsPlace .description {
    margin-left: 5px;
}
#advanced-search .keywordsPlace .description .tip {
    font-size: 10px;
    margin: 5px 0 7px 10px;
}
#advanced-search .keywordsPlace .description .tip span {
    display: inline-block;
    margin-right: 5px;
    margin-left: 3px;
    color: #2062b3;
    /*padding-bottom: 2px;*/
    border-bottom: 1px dashed #2062b3;
}
#advanced-search .keywordsPlace .description .textInput {
    margin-top: 10px;
}
#advanced-search .keywordsPlace .caption {
    float: left;
}
/*-----  #discounts  -----*/

#discounts {
    padding: 13px;
}
#dateInput3, #dateInput4 {
    border: 1px solid #9BA6B3;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    behavior: url(PIE.htc);
    position: relative;
    z-index: 1;
    margin-left: 2px;
    width: 90px;
    padding: 3px 5px;
}
.dateLabel3 {
    margin-left: 11px;
}

/*-----  .results  ------*/

.results .unit {
    background: url("../img/unit_bg.png") repeat-x #ffffff;
    border-bottom: 1px solid #EAE9D8;
    float: left;
}
.results .unit:hover {
    background: url("../img/unit_hover_bg.png") repeat-x #f3f3eb;
}
.results .notFound {
    font-family: "Open Sans",sans-serif;
    border-top: 1px solid #eae9d8;
    border-bottom: 1px solid #EAE9D8;
    height: 115px;
    width: 100%;
    float: left;
    background: url("../img/not-found-shadow.png") repeat-x #f8ebeb;
    margin-bottom: 1px;
}
.results .notFound h2 {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 4px;
    margin-top: 29px;
    text-align: center;
}
.results .notFound > p {
    font-size: 14px;
    text-align: center;
}
.aside {
    width: 150px;
    float: left;
    height: 170px;
}

.frame {
    width: 100px;
    height: 100px;
    padding: 10px;
    background: #eae9d8;
    position: relative;
    top: 24px;
    left: 13px;
}
.label {
    background: url('../img/main_sprite.png') no-repeat -116px -67px;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 88px;
    bottom: 88px;
}
.unit .content h3 {
    font-family: "open sans", geneva, sans-serif;
    font-size: 16px;
    line-height: 18px;
    margin: 21px 0 5px;
    width: 800px;
}
.unit .content > p {
    margin: 0;
    font-size: 13px;
    line-height: 21px;
}
.unit .content span {
    font-size: 12px;
    font-weight: normal;
    margin-left: 5px;
    font-family: Tahoma, geneva, sans-serif;
}
.unit .content span a {
    text-decoration: none;
}
.date, .time {
    display: inline-block;
}
.date {
    margin-right: 25px !important;
    margin-left: 5px !important;
}
.time {
    margin-right: 5px !important;
}
.date:before {
    background: url('../img/main_sprite.png') no-repeat -157px -69px;
    width: 13px;
    height: 11px;
    content: ' ';
    display: inline-block;
    margin-right: 5px;
}
.time:before {
    background: url('../img/main_sprite.png') no-repeat -190px -69px;
    width: 10px;
    height: 11px;
    content: ' ';
    display: inline-block;
    margin-right: 5px;
}
.place:before {
    background: url("../img/main_sprite.png") no-repeat scroll -175px -69px transparent;
    content: " ";
    display: inline-block;
    height: 12px;
    left: 3px;
    margin-right: 10px;
    position: relative;
    top: 2px;
    width: 8px;
}
.tags:before {
    background: url('../img/main_sprite.png') no-repeat -157px -87px;
    width: 12px;
    height: 10px;
    content: ' ';
    display: inline-block;
}
.schools:before {
    background: url('../img/main_sprite.png') no-repeat -173px -87px;
    width: 12px;
    height: 10px;
    content: ' ';
    display: inline-block;
}
.schools > span {
    color: #2062b3;
}

.tags > span {
    margin-right: 9px;
    margin-left: 0;
    color: #2062b3;
}
.last {
    border-bottom: 1px solid #ffffff !important;
}

/*-----  select -----*/

.description1 .styled-select {
    background: url("../img/select_bg.png") repeat scroll 0 0 transparent;
    font-size: 12px;
    height: 18px;
    padding-left: 9px;
    padding-top: 2px;
    width: 32px;
}
#events-admin .showEvents table tr td .styled-select {
    background: url("../img/partner_select_bg.png") repeat scroll 0 0 transparent;
    font-size: 14px;
    height: 22px;
    padding-left: 9px;
    padding-top: 2px;
    width: 157px;
}
#select1, #select2 {
    width: 41px;
    height: 20px;
}
#selectPartner {
    height: 22px;
    width: 155px;
}

/*-----  buttons  -----*/

.adminBtn {
    background: url("../img/main_sprite.png") no-repeat scroll -255px -101px transparent;
    color: #FFFFFF;
    display: block;
    float: right;
    font-family: tahoma, geneva, sans-serif;
    font-size: 0.8em;
    height: 22px;
    line-height: 22px;
    margin-top: 57px;
    text-align: center;
    text-decoration: none;
    text-indent: 22px;
    text-transform: uppercase;
    width: 179px;
}
.addBtn {
    background: url("../img/main_sprite.png") no-repeat scroll -204px -71px transparent;
    color: #FFFFFF;
    display: inline-block;
    float: right;
    font-family: tahoma, geneva, sans-serif;
    font-size: 0.8em;
    height: 22px;
    line-height: 22px;
    margin-left: 7px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 52px;
}
.searchBtn {
    background: url("../img/main_sprite.png") no-repeat scroll -268px -69px transparent;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: right;
    font-family: tahoma, geneva, sans-serif;
    font-size: 21px;
    height: 30px;
    line-height: 30px;
    margin: 9px -141px 0 0;
    text-align: center;
    text-decoration: none;
    text-indent: 30px;
    text-transform: uppercase;
    width: 141px;
}
.searchBar input {
    cursor: pointer;
    float: right;
    height: 30px;
    margin: 9px 13px 0 0;
    opacity: 0;
    width: 141px;
    filter: alpha(opacity=0);
}
.discountBtn {
    background: url("../img/main_sprite.png") no-repeat scroll -2px -101px transparent;
    color: #FFFFFF;
    display: block;
    float: right;
    font-family: "Open Sans", geneva, sans-serif;
    font-size: 0.8em;
    height: 22px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    text-indent: 20px;
    text-transform: uppercase;
    width: 131px;
    font-weight: bold;
    position: relative;
    right: 27px;
    bottom: 27px;
}
.registerBtn {
    background: url("../img/main_sprite.png") no-repeat scroll -136px -101px transparent;
    color: #FFFFFF;
    display: block;
    float: right;
    font-family: "Open Sans", geneva, sans-serif;
    font-size: 0.8em;
    height: 22px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    text-indent: 25px;
    text-transform: uppercase;
    width: 113px;
    font-weight: bold;
    position: relative;
    right: 27px;
    bottom: 27px;
}
.registerBtn:visited, .registerBtn:hover, .discountBtn:visited, .discountBtn:hover, .addBtn:visited, .addBtn:hover,
.searchBtn:visited, .searchBtn:hover, .adminBtn:visited, .adminBtn:hover {
    text-decoration: none;
    color: #FFFFFF;
}

/*-----  placeholder  -----*/
::-webkit-input-placeholder {
    color: #999;
    font: 14px Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
}
:-moz-placeholder {
    color: #999;
    font: 14px Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
}
.placeholder {
    color: #999;
    font: 14px Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
}

/*-----  #footer  -----*/
#footer {
    width: 100%;
    clear: both;
}
#footer p {
    margin: 0 0 0 37px;
    font-family: "Open Sans", sans-serif;
}
.footerShadow {
    background: url("../img/footer_shadow_bg.png") repeat;
    height: 3px;
}
.statistic {
    background: url("../img/footer_bg.png") no-repeat;
    height: 170px;
    border-bottom: 1px solid #cfcfcf;
}
.statistic > img {
    display: block;
    padding: 18px 0 0 30px;
}
.statistic a, .statistic a:hover {
    color: #FFB400;
    text-decoration: none;
    font-size: 12px;
    margin: 0 0 0 37px;
}
.lowBar {
    background: #fe9230;
    height: 12px;
}
.copyrightInfo {
    height: 84px;
    border-bottom: 1px solid #dbdbdb;
}
.copyrightInfo a:hover,
.copyrightInfo a {
    font-size: 10px;
    color: #9e9e9e;
    text-decoration: none;
}
.text1 {
    color: #FFB400;
    font-size: 1.29em;
    line-height: 18px;
    padding-top: 15px;
    font-weight: 600;
}
.text1 span,
.text2 span {
    color: #ffffff;
}
.text2 {
    color: #FFB400;
    font-size: 16px;
    font-weight: 600;
}
#footer .rightSide {
    float: right;
    margin: 33px 52px 0 0;
}
#footer .footerLogo {
    float: left;
    margin: 24px 8px 0 56px;
}
#footer .leftSide > a {
    float: left;
    margin-top: 23px;
}
#footer .deepLogo {
    margin-right: 5px;
    position: relative;
    top: 4px;
}

/*--------------------------------------------------- Admin Page -----------------------------------------------------*/

.adminHeadShadow {
    background: url("../img/head_shadow.png") repeat;
    height: 4px;
    width: 100%;
}
#adminTabs > a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F9F9F5;
    border-color: #B8B8B8 #B8B8B8 #2062B3;
    border-image: none;
    border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    behavior: url(PIE.htc);
    border-style: solid;
    border-width: 1px;
    display: block;
    height: 25px;
    line-height: 25px;
    margin-left: 31px;
    margin-top: 17px;
    position: absolute;
    width: 169px;
    z-index: 1;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}
#adminTabs > a .icon {
    background: url("../img/admin_sprite.png") no-repeat scroll -2px -2px transparent;
    display: inline-block;
    height: 17px;
    margin-left: 16px;
    margin-right: 10px;
    position: relative;
    top: 3px;
    width: 23px;
}
#adminTabs .nav li a:active {
    color: #2062b3;
}
#events-admin .synchronizeInfo {
    background-color: #eae9d8;
    margin-top: 23px;
}
#events-admin .synchronizeInfo > h4,
#events-admin .showEvents > h4 {
    border-bottom: 1px solid #FFFFFF;
    font-size: 14px;
    font-weight: normal;
    margin: 0 13px;
    padding: 11px 0 7px 10px;
    text-transform: uppercase;
}
#events-admin .synchronizeInfo .content h4 {
    color: #2062B3;
    margin: 7px 23px 4px;
}
#events-admin .synchronizeInfo .content p {
    margin-left: 24px;
    margin-bottom: 6px;
}
#events-admin .synchronizeInfo .content ul li a {
    font-size: 12px;
}
#events-admin .synchronizeInfo .content ul {
    margin: 0 27px 11px;
}
#events-admin .synchronizeInfo .content li {
    line-height: 18px;
    margin-bottom: 1px;
}
.hideAction,
.showAction {
    background: repeat scroll 0 0 #DDDCCD;
    height: 17px;
    cursor: pointer;
    text-align: center;
}
.hideAction > a,
.showAction > a {
    font-size: 10px;
    line-height: 17px;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
}
.hideAction > a:before,
.hideAction > a:after {
    background: url("../img/main_sprite.png") no-repeat scroll -192px -87px transparent;
    display: inline-block;
    height: 8px;
    width: 6px;
    content: " ";
    margin: 0 20px;
}
.showAction > a:before,
.showAction > a:after {
    background: url("../img/main_sprite.png") no-repeat scroll -427px -70px transparent;
    display: inline-block;
    height: 8px;
    width: 6px;
    content: " ";
    margin: 0 20px;
}

#events-admin .addEvent {
    font-family: "Open Sans",Geneva,sans-serif;
    height: 54px;
    background: #ffffff;
    padding: 0 25px 0 24px;
    text-transform: uppercase;
}
#events-admin .addEvent .eventsWaiting {
    color: #FE9230;
    font-size: 14px;
    font-weight: bold;
    line-height: 54px;
}
#events-admin .addEvent .eventsWaiting:before {
    background: url("../img/admin_sprite.png") no-repeat scroll -53px -6px transparent;
    bottom: 1px;
    content: " ";
    display: inline-block;
    height: 8px;
    margin-right: 6px;
    position: relative;
    width: 4px;
}
#events-admin .addEvent span {
    font-size: 14px;
    margin-right: 6px;
}
#events-admin .addEvent .showEventsLink {
    font-family: Tahoma,geneva,sans-serif;
    font-size: 14px;
}

#events-admin .addEvent .showEventsLink:before {
    background: url("../img/admin_sprite.png") no-repeat scroll -31px -5px transparent;
    content: " ";
    display: inline-block;
    height: 10px;
    margin-right: 8px;
    width: 17px;
}
#events-admin .synchronizeAction {
    background: url("../img/admin-shadow1.png") repeat-x scroll center top #FFFFFF;
    height: 51px;
}
#events-admin .synchronizeAction a {
    display: block;
    float: left;
    font-family: "open sans",sans-serif;
    font-size: 14px;
    line-height: 48px;
    margin-left: 340px;
    text-transform: uppercase;
}
#events-admin .synchronizeAction a:before {
    background: url("../img/admin_sprite.png") no-repeat scroll -63px -3px transparent;
    content: " ";
    display: inline-block;
    height: 14px;
    margin-right: 10px;
    position: relative;
    top: 2px;
    width: 13px;
}
#events-admin .showEvents {
    background-color: #EAE9D8;
    border-bottom: 1px solid #EBEAD9;
    height: 112px;
}
#events-admin .showEvents table {
    margin: 0 25px 0 24px;
}
#events-admin .showEvents table .column1 {
    width: 188px;
}
#events-admin .showEvents table .column2 {
    width: 283px;
}
#events-admin .showEvents table .column3 {
    width: 280px;
}
#events-admin .showEvents table .column1,
#events-admin .showEvents table .column2,
#events-admin .showEvents table .column3 {
    font-family: "open sans",sans-serif;
    font-size: 14px;
    color: #2062b3;
}
#events-admin .showEvents table .nameInput {
    border: 1px solid #9BA6B3;
    width: 159px;
    padding: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    behavior: url(PIE.htc);
    z-index: 1;
    position: relative;
}
#events-admin .showEvents table .dateInput {
    border: 1px solid #9BA6B3;
    width: 78px;
    padding: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    behavior: url(PIE.htc);
    z-index: 1;
    position: relative;
}
#events-admin .showEvents table tr td .noMargin {
    margin-right: 0;
}
#events-admin .showEvents table tr td .arrowRight {
    background: url('../img/admin_sprite.png') no-repeat -83px -6px;
    width: 10px;
    height: 7px;
    display: inline-block;
}

#events-admin .showEvents table .header {
    height: 32px;
}
#events-admin .showEvents table .header td {
    padding-top: 8px;
}
#events-admin .showEvents table tr td .showBtn {
    float: right;
    background: url('../img/admin_sprite.png') no-repeat -148px -23px;
    width: 84px;
    height: 22px;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    text-decoration: none;
    line-height: 22px;
    font-weight: bold;
    text-indent: 20px;
    position: relative;
    top: 1px;
}

#events-admin .eventsTable table {
    width: 100%;
}
#events-admin .eventsTable table .header {
    font-size: 10px;
    line-height: 20px;
}
#events-admin .eventsTable table .header td {
    background-color: #b8b8b8;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    cursor: pointer;
}
#events-admin .eventsTable table .header td:hover {
    background-color: #d1d1d1;;
}

#events-admin .eventsTable table .column1 {
    width: 273px;
    text-indent: 24px;
}
#events-admin .eventsTable table .column2 {
    width: 110px;
    text-indent: 15px;
}
#events-admin .eventsTable table .column3 {
    width: 110px;
    text-indent: 10px;
}
#events-admin .eventsTable table .column4 {
    width: 105px;
    text-indent: 10px;
}
#events-admin .eventsTable table .column5 {
    width: 72px;
    text-align: center;
}
#events-admin .eventsTable table .column6 {
    width: 65px;
    text-align: center;
}
#events-admin .eventsTable table .column7 {
    text-align: center;
}
.sortedBy {
    background-color: #d1d1d1 !important;
}
#events-admin .eventsTable table .bodyRow {
    font-size: 12px;
    line-height: 34px;
    background-color: #f5f5eb;
}
#events-admin .eventsTable table .bodyRow td {
    border-bottom: 1px solid #dbdbdb;
    border-collapse: collapse;
}
#events-admin .eventsTable table .bodyRow .column1 {
    font-weight: bold;
}
#events-admin .eventsTable table .bodyRow .column2 p {
    font-size: 10px;
    line-height: 13px;
}
#events-admin .eventsTable table .bodyRow .column5 p {
    font-size: 10px;
}
#events-admin .eventsTable table .bodyRow .column3 a {
    text-decoration: none;
}
#events-admin .eventsTable table .bodyRow .column7 .deleteBtn form input {
    bottom: 8px;
    cursor: pointer;
    height: 15px;
    opacity: 0;
    filter: alpha(opacity = 0);
    padding: 0;
    position: relative;
    width: 15px;
}
#events-admin .eventsTable table .bodyRow .column7 .deleteBtn {
    background: url("../img/admin_sprite.png") no-repeat scroll -132px -4px transparent;
    height: 8px;
    margin-left: 30px;
    width: 8px;
}
#events-admin .eventsTable table .bodyRow .column7 .deleteBtn:hover {
    background: url('../img/admin_sprite.png') no-repeat -145px -4px;
    width: 8px;
    height: 8px;
}
#events-admin .eventsTable table .bodyRow.hover {
    background-color: #fef6b0;

}
#events-admin .eventsTable table .bodyRow.hover td {
    border-bottom: 1px solid #a6a6a6;
    border-collapse: collapse;
    border-top: 1px solid #a6a6a6;
}
#events-admin .eventsTable table .bodyRow.hoverPrev td {
    border-bottom: none;
    background: url("../img/up-shadow-hover.png") repeat-x scroll bottom center #F5F5EB;
}
#events-admin .eventsTable table .bodyRow.hoverNext td {
    background: url("../img/down-shadow-hover.png") repeat-x scroll top center #F5F5EB;
}

/*----- Buttons -----*/
#events-admin .addEvent .addEventBtn {
    background: url('../img/admin_sprite.png') no-repeat -3px -23px;
    width: 141px;
    height: 30px;
    color: #FFFFFF;
    font-family: Tahoma,geneva,sans-serif;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    text-indent: 28px;
    margin: 12px 0;
    float: right;
    text-decoration: none;
}


/*----- Admin Tabs -----*/
#adminTabs {
    background-color: #f3f3eb;
}
#adminTabs .nav {
    overflow: hidden;
    margin: 0;
    padding-left: 399px;
    position: relative;
    top: 1px;
}
#adminTabs .nav li {
    float: left;
    margin: 0;
    list-style-type: none;
}
#adminTabs .nav li a {
    background: none repeat scroll 0 0 #F9F9F5;
    border-color: #B8B8B8 #B8B8B8 #2062B3;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    -khtml-border-radius: 3px 3px 0 0;
    behavior: url(PIE.htc);
    color: #2A2A2A;
    display: block;
    line-height: 25px;
    margin-top: 16px;
    padding: 0 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}
#adminTabs .current {
    background: none repeat scroll 0 0 #FFFFFF !important;
    border: 1px solid #2062B3 !important;
    color: #2062B3 !important;
    line-height: 29px !important;
    margin-top: 11px !important;
    top: 2px;
    z-index: 2;
}
#adminTabs .wrap-list {
    border-top: 1px solid #2062b3;
    z-index: -99999;
    background: none repeat scroll 0 0 #FFFFFF;
}

#adminTabs .moveLeft {
    left: 1px;
}

#adminTabs .moveRight {
    right: 1px;
}

/*----- Pagination -----*/
.pagination {
    background-color: #eae9d8;
    height: 29px;
    border-top: 1px solid #ecebdb;
    border-bottom: 1px solid #ebeadb;
}
.pagination ul {
    margin-left: 19px;
}
.pagination ul li {
    display: inline-block;
    font-size: 12px;
    line-height: 9px;
    margin-top: 5px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
}
.pagination ul li a {
    text-decoration: none;
}
.pagination ul li .goTo {
    margin-right: 9px;
    position: relative;
    bottom: 1px;
    padding: 0;
}
.pagination ul li .goTo:before {
    background: url("../img/admin_sprite.png") no-repeat scroll -99px -5px transparent;
    content: " ";
    display: inline-block;
    height: 9px;
    margin-right: 6px;
    position: relative;
    top: 1px;
    width: 9px;
}
.pagination ul li .prev {
    margin-right: 4px;
    position: relative;
    bottom: 1px;
    padding: 0;
}
.pagination ul li .prev:before {
    background: url("../img/admin_sprite.png") no-repeat scroll -113px -3px transparent;
    content: " ";
    display: inline-block;
    height: 11px;
    margin-right: 3px;
    position: relative;
    top: 2px;
    width: 6px;
}
.pagination ul li:first-child,
.pagination ul li:nth-child(2),
.pagination ul li:last-child {
    padding-left: 0;
    padding-right: 0;
}
.pagination ul li .next {
    bottom: 1px;
    margin-left: 13px;
    padding: 0;
    position: relative;
}
.pagination ul li .next:after {
    background: url("../img/admin_sprite.png") no-repeat scroll -123px -3px transparent;
    content: " ";
    display: inline-block;
    height: 11px;
    margin-left: 4px;
    position: relative;
    top: 2px;
    width: 6px;
}
.pagination .small {
    font-size: 10px;
}
.pagination .selected {
    background: url("../img/active_number_center.png") repeat-x scroll 0 3px transparent;
    padding-left: 0;
    padding-right: 0;
}
.pagination .selected:before {
    background: url("../img/active_number_left.png") no-repeat scroll 0 0 transparent;
    content: " ";
    display: inline-block;
    height: 15px;
    position: relative;
    top: 3px;
    width: 5px;
}
.pagination .selected:after {
    background: url("../img/active_number_right.png") no-repeat scroll 0 0 transparent;
    content: " ";
    display: inline-block;
    height: 15px;
    position: relative;
    top: 3px;
    width: 5px;
}
.pagination .selected a {
    font-weight: bold;
    color: #ff6600;
}

/*------------------------------------------------------ Events Editor -----------------------------------------------*/

#eventsEditor .eventsNav {
    margin-top: 14px;
    height: 55px;
}
#eventsEditor .eventsNav .leftSide {
    float: left;
    padding: 10px 22px 11px 0;
    margin: 0 0 12px 23px;
    border-right: 1px solid #eae9d8;
}
#eventsEditor .eventsNav .prevEvent {
    float: left;
    width: 300px;
    margin-top: 5px;
    text-align: left;
    cursor: pointer;
}
#eventsEditor .eventsNav .nextEvent {
    float: right;
    width: 300px;
    margin-top: 5px;
    text-align: right;
    cursor: pointer;
}
#eventsEditor .eventsNav .prevEvent span {
    background: url("../img/admin_sprite.png") no-repeat scroll -238px -26px transparent;
    display: block;
    float: left;
    height: 30px;
    margin-left: 26px;
    margin-right: 11px;
    width: 9px;
}
#eventsEditor .eventsNav .nextEvent span {
    background: url("../img/admin_sprite.png") no-repeat scroll -252px -26px transparent;
    display: block;
    float: right;
    height: 30px;
    margin-left: 11px;
    margin-right: 23px;
    width: 9px;
}
#eventsEditor .eventsNav .prevEvent p,
#eventsEditor .eventsNav .nextEvent p {
    font-family: "Open Sans",sans-serif;
    font-size: 10px;
    line-height: 11px;
    margin-top: 2px;
    text-transform: uppercase;
}
#eventsEditor .eventsNav .prevEvent a,
#eventsEditor .eventsNav .nextEvent a {
    font-size: 12px;
    display: block;
}
#eventsEditor .header {
    clear: both;
    height: 93px;
    border-bottom: 1px solid #ffffff;
    background-color: #eae9d8;
    border-top: 1px solid #ececdd;
    padding: 0 21px;
}
#eventsEditor .header h2 {
    display: inline-block;
    font-size: 20px;
    font-weight: normal;
    margin: 9px 10px 6px 0;
}
#eventsEditor .header h4 {
    font-size: 14px;
    font-weight: normal;
    line-height: 17px;
    padding-top: 4px;
}
#eventsEditor .header h2 .eventName {
    text-decoration: none;
}
#eventsEditor .header p {
    font-size: 10px;
}
#eventsEditor .header .leftSide {
    border-right: 1px solid #FFFFFF;
    display: inline-block;
    padding: 0 23px 6px 0;
}
#eventsEditor .header .leftSide a {
    text-transform: uppercase;
}
#eventsEditor .header .rightSide {
    display: inline-block;
    margin-left: 15px;
    padding: 0 23px 6px 0;
}
#eventsEditor .header .rightSide span {
    color: #2062b3;
}
#eventsEditor .content table tr td {
    vertical-align: top;
}
#eventsEditor .content table tr .title {
    width: 207px;
    background-color: #eae9d8;
}
#eventsEditor .content table tr .title.head {
    background: url("../img/title-head-shadow.png") repeat-x scroll center top #EAE9D8;
}
#eventsEditor .content table tr .title.otherBg1 {
    background-color: #f3f2e2;
}
#eventsEditor .content table tr .title p {
    font-size: 14px;
    font-weight: bold;
    margin: 17px 15px 0 13px;
}
#eventsEditor .content table tr .title p span {
    color: #980f0f;
    font-size: 16px;
}
#eventsEditor .content table tr .description {
    background-color: #f5f5eb;
    width: 580px;
    padding-left: 13px;
}
#eventsEditor .content table tr .description .eventNameInput,
#eventsEditor .content table tr .description .partnerInput {
    width: 314px;
    border: 1px solid #9ba6b3;
    padding: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    behavior: url(PIE.htc);
    z-index: 1;
    position: relative;
    margin-top: 17px;
}

#eventsEditor .content table tr .description.otherBg2 {
    background-color: #f9f9f5;
}
#eventsEditor .content table tr .description.head {
    background: url("../img/description-head-shadow.png") repeat-x scroll center top #f5f5eb;
}






#eventsEditor .footer {
    background: url("../img/title-head-shadow.png") repeat-x scroll center top #eae9d8;
    height: 68px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #edecdd;
    width: 100%;
}
/*----- Buttons -----*/
#eventsEditor .eventsNav .leftSide .backToListBtn,
#eventsEditor .eventsNav .leftSide .backToListBtn:hover {
    float: left;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    background: url('../img/admin_sprite.png') no-repeat -2px -120px;
    width: 103px;
    height: 22px;
    line-height: 22px;
    margin: 0;
    font-size: 12px;
    text-align: center;
    color: #ffffff;
    text-indent: 10px;
}
#eventsEditor .header .approveBtn,
#eventsEditor .header .approveBtn:hover {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    background: url('../img/admin_sprite.png') no-repeat -111px -120px;
    width: 88px;
    height: 22px;
    font-size: 12px;
    text-align: center;
    line-height: 22px;
    text-transform: uppercase;
    text-indent: 17px;
    position: relative;
    bottom: 1px;
}
#eventsEditor .footer .updateBtn {
    background: url('../img/admin_sprite.png') no-repeat -2px -58px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 18px;
    line-height: 30px;
    height: 30px;
    width: 273px;
    text-align: center;
    margin-left: 264px;
    margin-top: 21px;
}
#eventsEditor .footer .updateBtn input {
    cursor: pointer;
    height: 30px;
    margin-left: -169px;
    position: absolute;
    width: 273px;
    opacity: 0;
    filter: alpha(opacity = 0);
}